<section>
  <img width="224" height="auto" src="./media/{{this.image}}" alt="{{this.title}}">
  <div>
    <h2>{{this.title}}</h2>
    <span>{{this.price}}</span>
    <p>Item Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quis distinctio,
      officia tenetur a eaque deleniti, impedit accusamus, alias provident sint id odio neque laudantium!
      Saepe quisquam libero soluta itaque?</p>
    <div>
      <span>{{this.year}}</span>
      <span>{{this.mileage}} {{this.mileage_measure}}</span>
      <span>{{this.axle_configuration}}</span>
      <span>{{this.power}} {{this.power_measure}}</span>
    </div>
  </div>
</section>